/*
	General style
*/
body {
	padding-top: 70px;
}

.navbar-brand {
	padding: 6px 15px !important;
}

.secondary-navbar {
	margin: 1em 0;
}

.secondary-navbar > button {
	margin: 0 .5em;
}

.actions-container > span {
	cursor: pointer;
	margin-right: 1.2em;
}

.actions-container > span:hover {
	color: #337ab7; /* Bootstrap's blue */
}

.password-inline {
	display: inline-block !important;
	width: auto !important;
}

.two-input-container > div{
	display: inline-block;
	width: 49%;
}

.two-input-container > div:last-child{
	float: right;
}

.fa-1-5x {
	font-size: 2rem !important;
}

/* Login */
.login-logo {
	text-align: center;
}

.login-form {}

.login-form-header {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 1rem 0;
	text-align: center;
}

/* Survey */

.survey-form {
	margin-bottom: 4em;
}

.survey-name {
	font-size: 28px;
	height: 50px;
}

.question-container {
	cursor: pointer;
}

.question-name {
	font-size: 2rem;
}

.question-type {
	color: #888;
	margin-left: 1em;
}

.question-detail-icon {
	font-size: 2rem;
}

.question-add {
	display: inline-block;
	font-size: 2rem;
	text-align: center;
	width: 100%;
}

.question-form, .incentive-form {
	margin-bottom: 4em;
}

.answers-container {
	margin-bottom: 2em;
}

.answer-input {
	border-radius: 2px !important;
	height: auto !important;
	padding: 0 12px !important;
}

input[type='radio']:disabled, input[type='checkbox']:disabled {
    cursor: default;
}

/* Incentives */

.form-inline > .form-group {
	width: 100%;
	margin-bottom: 1em;
}



