<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class=" secondary-navbar clearfix">
                <button type="button" class="btn btn-primary pull-right" ng-click="update()">Actualizar</button>
            </div>


            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="" style="font-size: x-large;"><b>Contacto</b></a></li>
            </ul>
            <form>
                <div class="form-group">
                    <textarea class="form-control" ng-model="contact.value" rows="8"></textarea>
                </div>
            </form>

        </div>
    </div>
</div>