<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class=" secondary-navbar clearfix">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#incentive-modal-detail" data-backdrop="static">Agregar incentivo</button>
            </div>


            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Todas</a></li>
                <li role="presentation"><a href="#">Activas</a></li>
                <li role="presentation"><a href="#">Inactivas</a></li>
            </ul>
            <table class="table table-hover">
                <tr>
                    <th>Incentivo</th>
                    <th>Fecha de creación</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>Incentivo 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span data-toggle="modal" data-target="#incentive-modal-status" data-backdrop="static">
                                <span class="fa fa-toggle-on" data-toggle="tooltip" data-placement="top" title="Cambiar estatus"></span>
                            </span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Incentivo 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span data-toggle="modal" data-target="#incentive-modal-status" data-backdrop="static">
                                <span class="fa fa-toggle-on" data-toggle="tooltip" data-placement="top" title="Cambiar estatus"></span>
                            </span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Incentivo 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span data-toggle="modal" data-target="#incentive-modal-status" data-backdrop="static">
                                <span class="fa fa-toggle-on" data-toggle="tooltip" data-placement="top" title="Cambiar estatus"></span>
                            </span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="incentive-modal-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nuevo incentivo</h4>
            </div>
            <div class="modal-body">

                <form>  
                    <div class="incentive-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <div>
                                    <label for="survey-name">Tipo</label>
                                </div>
                                <select class="form-control" id="incentive-type">
                                    <option>Selecciona un tipo</option>
                                    <option>Tipo 1</option>
                                    <option>Tipo 2</option>
                                </select>
                                <button class="btn btn-default pull-right">Agregar tipo</button>
                            </div>    
                        </div>
                        <div class="form-group">
                            <label for="survey-detail">Condición</label>
                            <select class="form-control">
                                <option>Selecciona una condición</option>
                            </select>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div>
                                    <label for="survey-name">Fecha de vigencia</label>
                                </div>
                                <label>Inicio: </label>
                                <input class="form-control" type="date" id="date-start"> 
                                <label>Fin:</label>
                                <input class="form-control" type="date" id="date-end">
                            </div>    
                        </div>
                        <div class="form-group">
                            <label>Archivo</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group">
                            <label>Link</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>

                    
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar incentivo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="incentive-modal-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cambiar estatus</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-switch-onText bootstrap-switch-animate bootstrap-switch-off" style="">
                            <div class="bootstrap-switch-container" style="">
                                
                                <input id="status" type="checkbox" checked="" data-on-text="Activo" data-off-text="Inactivo">
                            </div>
                        </div>
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Cambiar estatus</button>
            </div>
        </div>
    </div>
</div>