<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class=" secondary-navbar clearfix">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#incentive-modal-detail" data-backdrop="static">Agregar incentivo</button>
            </div>


            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#" style="font-size: x-large;"><b>Incentivos</b></a></li>
            </ul>
            <table class="table table-hover">
                <tr>
                    <th>Incentivo</th>
                    <th>Fecha de creación</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
                <tr ng-repeat="incentive in incentives">
                    <td>{{incentive.name}}</td>
                    <td>{{incentive.created_at | date:'dd/MM/yyyy @ h:mma' }}</td>
                    <td>{{incentive.active}}</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil fa-1-5x" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span data-toggle="modal" data-target="#incentive-modal-status" data-backdrop="static">
                                <span class="fa fa-toggle-on fa-1-5x" ng-click="updateStatus(incentive.id)" data-toggle="tooltip" data-placement="top" title="Cambiar estatus"></span>
                            </span>
                            <span class="fa fa-trash fa-1-5x" ng-click="deleteIncentive(incentive.id)" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="incentive-modal-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nuevo incentivo</h4>
            </div>
            <div class="modal-body">

                <form>  
                    <div class="incentive-form">
                        <div class="form-group">
                            <label>Comentarios</label>
                            <input class="form-control" type="text" ng-model="incentive.name" />
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div>
                                    <label for="survey-name">Tipo</label>
                                </div>
                                <select class="form-control" id="incentive-type" ng-model="incentive.type">
                                    <option ng-repeat="incentiveEntry in incentiveTypes" value={{incentiveEntry.id}}>{{incentiveEntry.value}}</option>
                                </select>
                                <button class="btn btn-default pull-right" ng-click="clearIncentiveType()" data-toggle="modal" data-target="#incentive-type-modal" data-backdrop="static"><span class="fa fa-plus"></span> Agregar tipo</button>
                            </div>    
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div>
                                    <label for="survey-detail">Condición</label>
                                </div>
                                
                                <select class="form-control" ng-model="incentive.requirement">
                                    <option ng-repeat="requirement in requirementTypes" value={{requirement.id}}>{{requirement.value}}</option>
                                </select>
                                <button class="btn btn-default pull-right" ng-click="clearRequirementType()" data-toggle="modal" data-target="#requirement-type-modal" data-backdrop="static"><span class="fa fa-plus"></span> Agregar condición</button>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <div>
                                    <label for="survey-name">Fecha de vigencia</label>
                                </div>
                                <label>Inicio: </label>
                                <input class="form-control" type="date" id="date-start" ng-model="incentive.startAt"> 
                                <label>Fin:</label>
                                <input class="form-control" type="date" id="date-end" ng-model="incentive.endAt">
                            </div>    
                        </div>
                        <div class="form-group">
                            <label>Comentarios</label>
                            <textarea class="form-control" type="text" ng-model="incentive.comments"></textarea>
                        </div>
                    </div>

                    
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="createIncentive()">Guardar incentivo</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="incentive-type-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar tipo de incentivo</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label>Tipo de incentivo</label>
                        <input class="form-control" type="text" ng-model="incentiveType.value">
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="addIncentiveType()">Guardar tipo</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="requirement-type-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar condición</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label>Tipo de condición</label>
                        <input class="form-control" type="text" ng-model="requirementType.value">
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="addRequirementType()">Guardar condición</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="incentive-modal-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cambiar estatus</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-id-switch-onText bootstrap-switch-animate bootstrap-switch-off" style="">
                            <div class="bootstrap-switch-container" style="">
                                
                                <input id="status" type="checkbox" checked="" data-on-text="Activo" data-off-text="Inactivo">
                            </div>
                        </div>
                    </div>
                </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Cambiar estatus</button>
            </div>
        </div>
    </div>
</div>

