<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class=" secondary-navbar clearfix">
                <a href="#/surveys/create" class="btn btn-primary pull-right">Crear encuesta</a>
            </div>


            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Todas</a></li>
                <li role="presentation"><a href="#">Activas</a></li>
                <li role="presentation"><a href="#">Inactivas</a></li>
            </ul>
            <table class="table table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>Encuesta 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                            <span class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Exportar"></span>
                            <span class="fa fa-bar-chart" data-toggle="tooltip" data-placement="top" title="Estadísticas"></span>    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Encuesta 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                            <span class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Exportar"></span>
                            <span class="fa fa-bar-chart" data-toggle="tooltip" data-placement="top" title="Estadísticas"></span>    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Encuesta 1</td>
                    <td>12/06/2016</td>
                    <td>Activa</td>
                    <td>
                        <div class="actions-container">
                            <span class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></span>
                            <span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></span>
                            <span class="fa fa-file-excel-o" data-toggle="tooltip" data-placement="top" title="Exportar"></span>
                            <span class="fa fa-bar-chart" data-toggle="tooltip" data-placement="top" title="Estadísticas"></span>    
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>